<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find A Sitter</title>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script> --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="backdrop">
  <ul class="navigationBar">
      <li class="navigationLink"><a href="http://localhost:3000">Front Page</a></li>
      <li class="navigationLink"><a href="http://localhost:3000/chat">Live Chat</a></li>
      {{#if loggedIn}}
        <li class="navigationLink"><a href="http://localhost:3000/sitters/{{loggedIn.username}}">Profile Page</a></li>
        <li class="navigationLink"><a href="http://localhost:3000/logout">Logout Page</a></li>
      {{else}}
        <li class="navigationLink"><a href="http://localhost:3000/register">Register Page</a></li>
        <li class="navigationLink"><a href="http://localhost:3000/login">Login Page</a></li>
      {{/if}}
    </ul>
  {{{ body }}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{!-- <script src="/javascripts/webChat.js"></script> --}}
</body>
</html>
