<div class="spacer"></div>
<h2 class="wideCentered">Sitters in your area:</h2>
<div>
    {{# each items }}
        <div class="sitterInfoBox">
            <p>Username: {{ this.username }}</p>
            <p>Password: {{ this.password }}</p>
            <p>ZipCode: {{ this.zipCode}}</p>
            <form method="get", action="/sitters/{{ this.username }}">
                <button type="submit">Contact</button>
            </form>
        </div>
    {{/each}}
</div>